<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Rescipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item list-group-item-secondary d-flex justify-content-between p-3 rounded-2 mt-4"
      *ngFor="let recipe of recipes;let i=index;">
      <div class="align-content-start">
        <h4 class="list-group-item-heading">
          {{recipe.name}}
        </h4>
        <p class="list-group-item-">{{recipe.description}}</p>
      </div>
      <div class="align-content-end">
        <img
          src="{{recipe.imagePath}}"
          alt="{{recipe.name}}"
          class="img-fluid rounded-2"
          style="max-height: 100px;">
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

