<div class="container">
  <div class="row d-flex">
    <div class="col-xs-12 align-content-center">
      <button
        class="btn btn-primary mt-5"
        (click)="onlyAdd = !onlyAdd"
      >only show add numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyAdd">
          <li
            class="list-group-item"
            [ngClass]="{odd:number % 2 !== 0}"
            [ngStyle]="{backgroundColor:number %2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let number of oddNumbers;"
          >
            {{number}}
          </li>
        </div>
        <div *ngIf="!onlyAdd">
          <li
            class="list-group-item card-body"
            [ngClass]="{odd:number % 2 !== 0}"
            [ngStyle]="{backgroundColor:number %2 !== 0 ? 'yellow':'transparent'}"
            *ngFor="let number of evenNumbers;"
          >
            {{number}}
          </li>
        </div>
      </ul>
      <p class="mt-2 p-2" BasicHighlight>style with basic directive</p>
      <p class="mt-2 p-2" BetterHighlight>style with better directive</p>
    </div>
  </div>
</div>
